:root{
    --fonRangi: #f1f1f1;
    --yozuvRangi: black;
    --shrifti: 23px;
}
body{
    background-color: var(--fonRangi);
    color: var(--yozuvRangi);
    font-size: var(--shrifti);
}

.wrap{
    width: 1200px;
    margin: 0 auto;
}
.row{
    width: 100%;
}
.col{
    width: 30%;
    float: left;
    background-color: white;
    display: block;
    margin: 20px 15px;
}
.img-box{
    width: 100%;
    height: 250px;
    display: block;

}
.img-box img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;  /*cover,contain fill*/
}

.text{
    /*column-count: 3;*/
    column-gap: 50px;
    column-rule: 1px solid red;
    column-width: 200px;
}
 .clear{
     clear: both;
 }

@media (min-width: 240px) and (max-width: 570px){  /*telefonga*/
    .wrap{
        width: 100%;
        background-color: aqua;
        color: white;
    }
}
@media (min-width: 570px) and (max-width: 780px){  /*planwetga*/
    .wrap{
        width: 100%;
        background-color: greenyellow;
        color: white;
    }
}
@media (min-width: 780px) and (max-width: 990px){ /*noutbukga*/
    .wrap{
        width: 100%;
        background-color: red;
        color: white;
    }
}
@media (min-width: 990px) and (max-width: 1200px){ /*kompyutrga*/
    .wrap{
        width: 100%;
        background-color: chocolate;
        color: white;
    }
}
@media (min-width: 1200px){ /*manitorlarga*/
    .wrap{
        width: 100%;
        background-color: dodgerblue;
        color: white;
    }
}


